* {
	font-family: 'Lobster', cursive;
	font-weight: 100;
	font-size: 25px;
	/*color: white;*/
 }

div {
    width: 30%;
    height: 30%;
	  display: inline-block; 
	  padding: 30px 30px;
    background: blanchedalmond;
    border: 5px solid grey;
    margin: 10px;
    position: relative;
    box-sizing: border-box;
}


header {
  background-color: aquamarine;
  width: 100%;
}

h1 {
    display: inline-block;
    font-size: 29px;
    background-color: coral;
    border: 4px solid black;
    margin: 0;
}

h2 {
    text-align: center;
}

.caja3 {
    display: inline-block;
}

.position {
   position: absolute;
   top: 0;
   right: 0;
}

@media only screen and (max-width: 992px) {

	div {
		display: inline-block;
        width: 100%;
        height: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
     div{
      width: 46%;
     
    }
    .caja3{
     width: 95%;
    
   }
  }
  
  
  @media (max-width: 767px){
    div{
      width: 90%;
      
    }
  }