
body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.2rem; 
    line-height: 1.6em; 
    margin: 0;
  }
  
  h1 {
    font-size: 2rem;
    line-height: 1.3em;
